@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SchibstedGrotesk;
  font-display: swap;
  src: url("fonts/SchibstedGrotesk-Regular.ttf") format("opentype");
}

body {
  font-family: SchibstedGrotesk;
}
